// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  min-height: 0;
  min-width: 0;
}

.slickContainer {
  margin: 0 auto;
  /* background: #419be0; */
  width: 80%;
  padding: 4px;

  div.slick-initialized div.slick-slide {
    display: flex;
    justify-content: center;
  }

  .slick-next:before, .slick-prev:before {
    color: gray;
  }
}
